body {
  font-family: sans-serif;
}

.submit-task-form {
  max-width: 500px;
  margin: 75px auto;
  display: block;
}

.submit-task-form input,
.submit-task-form label,
.submit-task-form textarea {
  display: block;
  width: 100%;
}

.submit-task-form input {
  padding: 5px;
  margin-bottom: 15px;
}

.submit-task-form textarea {
  resize: vertical;
  padding: 5px;
  margin-bottom: 30px;
}

.submit-task-form label {
  padding-bottom: 5px;
}

.submit-task-form button {
  background-color: green;
  color: white;
  padding: 10px 20px;
}

.add-task-btn {
  padding: 10px;
  background-color: violet;
  display: inline-block;
  color: white;
  margin-bottom: 50px;
}

.edit {
  padding: 0;
  color: seagreen;
}

main {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.tasks_list {
  margin-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.task {
  border: 2px solid black;
  color: #1d1d1d;
  padding: 10px;
}

.task__delete-btn {
  color: red;
}

.error {
  color: red;
}

.signup-form,
.login-form {
  display: inline-block;
}

.signup-form {
  margin-right: 50px;
  margin-bottom: 35px;
}

.signup-form h2,
.login-form h2 {
  margin-bottom: 20px;
}

.signup-form input,
.signup-form label,
.login-form input,
.login-form label  {
  display: block;
}

.signup-form label,
.login-form label {
  padding-bottom: 5px;
}

.signup-form input,
.login-form input {
  padding: 5px;
  margin-bottom: 15px;
}

.signup-form__signup-btn,
.login-form__signup-btn {
  padding: 10px;
  background-color: black;
  color: white;
  margin-top: 20px;
  border-radius: 2px;
}