body {
  font-family: sans-serif;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 125px 30px 50px;
  min-height: 100vh;
}

/* Navigation */

.navbar {
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  top: 0;
  padding: 0 30px;
}

.navbar__nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__title {
  display: inline-block;
}

.navbar__title-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar__title-icon {
  width: 1.47rem;
}

.navbar__auth-btns {
  display: flex;
  gap: 7px;
  align-items: center;
}

/* End of Navigation */

/* Footer */

footer {
  background-color: #2d2e32;
  color: white;
  padding: 50px 30px;
}

.footer__container {
  max-width: 1000px;
  margin: 0 auto;
}

/* End of footer  */

/* Reusable classes */
.guest-message,
.empty-tasks-message {
  margin-bottom: 15px;
}

.error {
  color: red;
  margin: 5px 0;
}

.signup-btn,
.login-btn,
.logout-btn {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 2px;
  display: inline-block;
}

.login-btn {
  background-color: seagreen;
}

/* End of reusable classes */

/* Manage task form */

.manage-task-form__header-title {
  margin-bottom: 25px;
}

.manage-task-form {
  max-width: 500px;
  width: 100%;
  display: block;
}

.manage-task-form input,
.manage-task-form label,
.manage-task-form textarea {
  display: block;
  width: 100%;
}

.manage-task-form input {
  padding: 5px;
  margin-bottom: 15px;
}

.manage-task-form textarea {
  resize: vertical;
  padding: 5px;
  margin-bottom: 30px;
}

.manage-task-form label {
  padding-bottom: 5px;
}

.manage-task-form button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
}

.add-task-btn {
  padding: 10px;
  background-color: violet;
  color: white;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 25px;
}

/* End of manage task form */

/* Task list */

.user-tasks-title {
  margin-bottom: 25px;
  font-size: 1.75rem;
}

.tasks_list {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.task {
  border: 2px solid black;
  color: #1d1d1d;
  padding: 10px;
}

.task__title {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.task__due-date {
  color: #3e3f44;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 3px;
}

.task__description {
  margin-bottom: 10px;
}

.task__manage-btns-container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.task__delete-btn {
  color: red;
}

.task__edit-btn {
  color: green;
}

/* End of task list */

/* Signup/login form */

.signup-form,
.login-form {
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.signup-form {
  margin-bottom: 35px;
}

.signup-form h2,
.login-form h2 {
  margin-bottom: 20px;
}

.signup-form input,
.signup-form label,
.login-form input,
.login-form label  {
  display: inline-block;
  width: 100%;
}

.signup-form label,
.login-form label {
  padding-bottom: 5px;
}

.signup-form input,
.login-form input {
  padding: 5px;
  margin-bottom: 15px;
}

/* End of signup/login form */

/* Media queries for hover capable devices */

@media screen and (pointer: fine) and (hover: hover) {
  button,
  a {
    transition: opacity 0.25s;
  }

  button:hover,
  a:hover {
    opacity: 0.75;
  }
}

/* End of media queries for hover capable devices */

/* Media queries */

@media screen and (max-width: 500px) {
  .signup-form,
  .login-form {
    max-width: 65%;
    width: 100%;
    top: 50%;
  }
}

/* End of media queries */